<!DOCTYPE html>
<html lang="en">
<head>
    <meta chaarset="UTF-8">
    <title>Catalog Homepage</title>
    <script src="//aax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>
{% include 'common/header.html' %}
<div style="height: 500px;">
    {% include 'common/nav-bar.html' %}
    {% include 'home_page/latest-items.html' %}
</div>
{% include 'common/footer.html' %}
<div id="result"></div>
<script src="{{ url_for('static/js', filename='social_login.js') }}"></script>
</body>
</html>